	<!DOCTYPE html>
	<html class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="{{ url_for('static', filename = 'img/fav.png')}}">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Textminer</title>
		<!-- LogoTextMiner -->
		<link rel="icon" href="{{ url_for('static', filename='img/logotextminer.png')}}">

		<link rel="stylesheet" type ="text/css" href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" > 
		
		
			<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/linearicons.css')}}">
			<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/font-awesome.min.css')}}">
			<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/bootstrap.css')}}">
			<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/magnific-popup.css')}}">
			<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/nice-select.css')}}">	
			<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/hexagons.min.css')}}">							
			<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/animate.min.css')}}">
			<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/owl.carousel.css')}}">
			<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/main.css')}}">
		</head>
		<body>	
			  <header id="header" id="home">
			    <div class="container main-menu">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li class="menu-active"><a href="{{url_for('index')}}">Home</a></li>
				          <li><a href="{{url_for('about')}}">About Us</a></li>
				          <li><a href="{{url_for('visualisation')}}">Visualisation</a></li>				          
				          <li><a href="{{url_for('contact')}}">Contact</a></li>				              
				        </ul>
				      </nav><!-- #nav-menu-container -->		    		
			    	</div>
			    </div>
			  </header><!-- #header -->

			<!-- start banner Area -->
			<section class="banner-area" id="home">
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center">
						<div class="banner-content col-lg-6 col-md-6">
							<h1>Textminer</h1>
							<p class="text-white text-uppercase">
								May the Gourd be with you
							</p>
						
						</div>
						<div class="banner-img col-lg-6 col-md-6">
							<img class="img-fluid" src="{{ url_for('static', filename ='img/banner-img.png')}}" alt=""/>
						</div>												
					</div>
				</div>
			</section>
			<!-- End banner Area -->

			<!-- Start products Area -->
			<section class="products-area section-gap">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="col-md-12 pb-40 header-text text-center">
							<h1 class="pb-10">About the application</h1>
							<p>
								This application is able to search relevant pubmed articles based on search terms that you want. <br>
								The application will search through pubmed articles looking for articles that have relevance with the terms you entered.<br>
								After searching through their database the application will visualize all the found articles and relations between them in a node graph.
							</p>
							<h2>Lost Functionality</h2>
							
							<p>
								A feature had to be dropped due to a classificationproblem.
								The BIG Question was: how can one classify nouns mined with the application?
								So how can one tell if a noun is either an organism, a compound or a health benefit?
								Our approach was to ask a database of compounds whether a noun is a compound.
								That worked rather well, but when it's scaled up to 10,000 nouns and you have to ask the database that many times...
								Let's say it's estimated to take half a day or even longer. And that's the case everytime the user gives an input (searchword). 
								We wish we had a way to make this faster, because we would have had a list of all compounds and their descriptions, and we would have been able to relate them all to each other.
								In the end we had to downgrade and we're still sad about it. If there only was a way to classify faster.
								We looked into Machine Learning to classify the words, but it would take too long and it would have been hard to get testdata for an AI to train on.
							</p>
							<img style="width:300px;height:300px;display:block;margin-left:auto;margin-right:auto;border-radius:150px;", src="{{ url_for('static', filename='img/logotextminer.png')}}">
							<br><br><br>
							<h2>Our Vision</h2>
							<p>
								We wanted to use as little processing power off the server as possible.
								While we were at it, we discovered that the server was the limiting factor.
								We didn't fancy using the server to fill the database for hours because there was 
								a riskfactor that we would have to try again and again. 
								We settled for a basic approach for filling our database which was good enough in our opinion.
								That still meant making a big database though...
							</p>
						</div>
					</div>	
				</div>
			</section>
			<!-- End products Area -->

			<!-- Start home-about Area -->
			<section class="home-about-area">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-lg-6 home-about-left no-padding">
						</div>
					</div>
				</div>	
			</section>
			<!-- End home-about Area -->
			

			<!-- Start about-video Area -->
			<section class="about-video-area section-gap">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 about-video-left">
						</div>
					</div>
				</div>	
			</section>
			<!-- End about-video Area -->
			
			<!-- start footer Area -->		
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-6  col-md-12">
							<div class="single-footer-widget newsletter">
								<div id="mc_embed_signup">
									<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">	
										<div class="info"></div>
									</form>
								</div>		
							</div>
						</div>					
					</div>

					<div class="row footer-bottom d-flex justify-content-between">
						<p class="col-lg-8 col-sm-12 footer-text m-0 text-white"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
					</div>
				</div>
			</footer>
			<!-- End footer Area -->	

			<script src="{{ url_for('static', filename = 'js/vendor/jquery-2.2.4.min.js')}}"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="{{ url_for('static', filename = 'js/vendor/bootstrap.min.js')}}"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="{{ url_for('static', filename = 'js/easing.min.js')}}"></script>			
			<script src="{{ url_for('static', filename = 'js/hoverIntent.js')}}"></script>
			<script src="{{ url_for('static', filename = 'js/superfish.min.js')}}"></script>	
			<script src="{{ url_for('static', filename = 'js/jquery.ajaxchimp.min.js')}}"></script>
			<script src="{{ url_for('static', filename = 'js/jquery.magnific-popup.min.js')}}"></script>	
			<script src="{{ url_for('static', filename = 'js/owl.carousel.min.js')}}"></script>	
			<script src="{{ url_for('static', filename = 'js/hexagons.min.js')}}"></script>							
			<script src="{{ url_for('static', filename = 'js/jquery.nice-select.min.js')}}"></script>	
			<script src="{{ url_for('static', filename = 'js/jquery.counterup.min.js')}}"></script>
			<script src="{{ url_for('static', filename = 'js/waypoints.min.js')}}"></script>							
			<script src="{{ url_for('static', filename = 'js/mail-script.js')}}"></script>	
			<script src="{{ url_for('static', filename = 'js/main.js')}}"></script>	
		</body>
	</html>



